header 
  nav.navbar-menu
    .humberger
      i.fa-solid.fa-bars
    ul.slide-bar
      li
        a(href='index.html') Overview
      li
        a(href='champion.html') Champions
      li
        a(href='passport.html') Passports
      li
        a(href='mission.html') Missions
      li
        a(href='#') Highlight
      li
        a(href='#') About
    div
