 
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap' rel='stylesheet')
link(rel='stylesheet' href='style/reset.css')
link(rel='stylesheet' href='/style/global.css')
link(rel='stylesheet' href='style/login.css')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css')
script(src="/script/login.js")
script(src="https://code.jquery.com/jquery-3.6.1.js") 


#wrapper
        form#form-login(action='')
            h1.form-heading Login
            .form-group
                i.fa-regular.fa-user
                input.form-input(type='text' placeholder='Name/Email')
            .form-group
                i.fa-solid.fa-key
                input#password.form-input(type='password' placeholder='Password')
                #eye
                    i.fa-light.fa-eye
            input.form-submit(type='submit' value='Login')